In [8]:
import pandas as pd

### Se lee el pickle de CPI para calcular los cambios anuales y mensuales para inflacion

In [9]:
cpi = pd.read_pickle(r'..\02-Data\04-CPI\01-CPI_USD_1913-01-01_2021-06-01_monthly_fred.pkl')

In [10]:
inflation_monthly = cpi.pct_change(12).dropna()

In [11]:
inflation_monthly

               Value
1914-01-01  0.020408
1914-02-01  0.010204
1914-03-01  0.010204
1914-04-01  0.000000
1914-05-01  0.020619
...              ...
2021-02-01  0.016762
2021-03-01  0.026198
2021-04-01  0.041597
2021-05-01  0.049927
2021-06-01  0.053915

[1290 rows x 1 columns]

In [12]:
inflation_monthly.to_pickle(r'..\02-Data\05-Inflation\01_Inflation_percentage_1913-01-01_2021-06-01_monthly_fred.pkl')

In [ ]:
inflation_monthly.to_parquet(r'..\02-Data\05-Inflation\01_Inflation_percentage_1913-01-01_2021-06-01_monthly_fred.')

In [13]:
inflation_monthly.to_parquet(r'..\02-Data\05-Inflation\01_Inflation_percentage_1913-01-01_2021-06-01_monthly_fred.parquet')

In [21]:
inflation_anually = cpi.groupby(cpi.index.strftime('%Y')).tail(1).pct_change(1).dropna()
inflation_anually

               Value
1914-12-01  0.010000
1915-12-01  0.019802
1916-12-01  0.126214
1917-12-01  0.181034
1918-12-01  0.204380
...              ...
2017-12-01  0.021091
2018-12-01  0.019102
2019-12-01  0.022851
2020-12-01  0.013620
2021-06-01  0.043083

[108 rows x 1 columns]

In [22]:
inflation_anually.to_pickle(r'..\02-Data\05-Inflation\02_Inflation_percentage_1913-01-01_2021-06-01_anually_fred.pkl')