In [1]:
from fredapi import Fred
import pandas as pd

In [2]:
fred = Fred(api_key='a7eca89fdf2905baea21d67b942c9ef7')
interest_rates=fred.get_series('DFF')
interest_rates

1954-07-01    1.13
1954-07-02    1.25
1954-07-03    1.25
1954-07-04    1.25
1954-07-05    0.88
              ...
2021-07-18    0.10
2021-07-19    0.10
2021-07-20    0.10
2021-07-21    0.10
2021-07-22    0.10
Length: 24494, dtype: float64

In [3]:
interest_rates = pd.DataFrame(data=interest_rates, columns=['Value'])

In [4]:
interest_rates

            Value
1954-07-01   1.13
1954-07-02   1.25
1954-07-03   1.25
1954-07-04   1.25
1954-07-05   0.88
...           ...
2021-07-18   0.10
2021-07-19   0.10
2021-07-20   0.10
2021-07-21   0.10
2021-07-22   0.10

[24494 rows x 1 columns]

In [5]:
interest_rates.to_pickle(r'..\02-Data\07-Interest_rates\01-InterestRates_percentage_1954-07-01_2021-07-22_daily_fred.pkl')

In [6]:
interest_rates_mensual = interest_rates.asfreq('M')

In [7]:
interest_rates_mensual.to_pickle(r'..\02-Data\07-Interest_rates\02-InterestRates_percentage_1954-07-01_2021-07-22_monthly_fred.pkl')

In [8]:
interest_rates_anual = interest_rates.asfreq('Y')
interest_rates_anual = interest_rates_anual.append(interest_rates_mensual.tail(1))

In [9]:
interest_rates_anual

            Value
1954-12-31   1.44
1955-12-31   2.50
1956-12-31   3.00
1957-12-31   3.00
1958-12-31   2.38
...           ...
2017-12-31   1.33
2018-12-31   2.40
2019-12-31   1.55
2020-12-31   0.09
2021-06-30   0.08

[68 rows x 1 columns]

In [10]:
interest_rates_anual.to_pickle(r'..\02-Data\07-Interest_rates\03-InterestRates_percentage_1954-07-01_2021-07-22_anually_fred.pkl')

## Tasa de interés a 10 años

In [11]:
fred = Fred(api_key='a7eca89fdf2905baea21d67b942c9ef7')
interest_rates_10_year=fred.get_series('DGS10')
interest_rates_10_year

1962-01-02    4.06
1962-01-03    4.03
1962-01-04    3.99
1962-01-05    4.02
1962-01-08    4.03
              ...
2021-07-16    1.31
2021-07-19    1.19
2021-07-20    1.23
2021-07-21    1.30
2021-07-22    1.27
Length: 15538, dtype: float64

In [12]:
interest_rates_10_year = pd.DataFrame(data=interest_rates_10_year, columns=['Value'])

In [13]:
interest_rates_10_year = interest_rates_10_year.dropna()

In [17]:
interest_rates_10_year.to_pickle(r'..\02-Data\07-Interest_rates\04-10YearInterestRates_percentage_1962-01-01_2021-07-22_daily_fred.pkl')

## 10 year treasury inflation-indexed security

In [2]:
fred = Fred(api_key='a7eca89fdf2905baea21d67b942c9ef7')
inflation_indexed_security=fred.get_series('DFII10')
inflation_indexed_security

2003-01-02    2.43
2003-01-03    2.43
2003-01-06    2.46
2003-01-07    2.42
2003-01-08    2.29
              ...
2021-07-16   -1.02
2021-07-19   -1.05
2021-07-20   -1.03
2021-07-21   -0.98
2021-07-22   -1.01
Length: 4841, dtype: float64

In [3]:
inflation_indexed_security = pd.DataFrame(data=inflation_indexed_security, columns=['Value'])

In [4]:
inflation_indexed_security = inflation_indexed_security.dropna()/100

In [5]:
inflation_indexed_security.to_pickle(r'..\02-Data\07-Interest_rates\05-10YearTreasuryInflationIndexedSecurity_percentage_2003-01-02_2021-07-22_daily_fred.pkl')