In [1]:
import requests
import pandas as pd
import io
from pandas.tseries.offsets import MonthEnd

In [2]:
# Building blocks for the URL
entrypoint = 'https://sdw-wsrest.ecb.europa.eu/service/' # Using protocol 'https'
resource = 'data'           # The resource for data queries is always'data'
flowRef ='MIR'              # Dataflow describing the data that needs to be returned, exchange rates in this case
key = 'M.U2.B.A20.A.R.A.2240.EUR.O'    # Defining the dimension values, explained below

# Define the parameters
'''parameters = {
    'startPeriod': '2000-01-01',  # Start date of the time series
    'endPeriod': '2018-10-01'     # End of the time series
}'''

request_url = entrypoint + resource + '/'+ flowRef + '/' + key

response = requests.get(request_url, headers={'Accept': 'text/csv'})

interest_rates = pd.read_csv(io.StringIO(response.text))

interest_rates = interest_rates[['TIME_PERIOD', 'OBS_VALUE']]

interest_rates.rename(columns={
    'TIME_PERIOD': 'Date',
    'OBS_VALUE': 'Value'
}, inplace=True)

interest_rates.set_index('Date', inplace=True)

interest_rates.index = pd.to_datetime(interest_rates.index, format='%Y-%m')

interest_rates.index = pd.to_datetime(interest_rates.index, format='%Y') + MonthEnd(1)

interest_rates

            Value
Date
2003-01-31   5.06
2003-02-28   5.03
2003-03-31   4.97
2003-04-30   4.91
2003-05-31   4.86
...           ...
2021-01-31   1.69
2021-02-28   1.70
2021-03-31   1.67
2021-04-30   1.66
2021-05-31   1.65

[221 rows x 1 columns]

In [4]:
interest_rates.to_pickle(r'..\02-Data\10-Interest_rates_Europe\01-Interest_rates_corporations_2003-01-31_2021-05-31_monthly_ecb.pkl')